@import '../css/reset.css';
@import '../css/normalize.css';

$fontSize16: 16px;
$fontSize18: 18px;

body {
	background: #ededed;
}

/* 
* Header
*/
.app-wrap .header-topbar {
	width: 100%;
	background: #1a1a1a;
}

.header-topbar .container {
	width: 1200px;
	height: 72px;
	margin: 0 auto;
	.topbar-logo {
		float: left;
		background: url(~images/logo-icon.png) no-repeat 50%;
		background-size: cover;
		width: 120px;
		height: 30px;
		margin-top: 20px;
	}
	.topbar-tabs {
		float: right;
		height: 72px;
		line-height: 72px;
		font-size: $fontSize18;
		color: #8d8d8d;
		a {
			display: inline-block;
			margin-right: 40px;
			cursor: pointer;
			&.active {
				cursor: pointer;
				color: #efc03f;
				font-weight: bold;
			}
			&:hover {
				cursor: pointer;
				color: #efc03f;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/*
* 二级导航
*/
.app-wrap .header-nav {
	width: 100%;
	background: #eeeeee;
}

.header-nav .container {
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	.nav-list {
		float: left;
		font-size: $fontSize16;
		height: 60px;
		li {
			position: relative;
			float: left;
			margin-right: 60px;
			&:hover {
				cursor: pointer;
				a {
					color: #1a1a1a;
				}
			}
			a {
				display: inline-block;
				color: #808080;
			}
			&.active a {
				color: #1a1a1a;
				font-weight: bold;
			}
		}
	}
	.nav-btn {
		float: right;
		color: #1a1a1a;
		font-size: $fontSize18;
		font-weight: bold;
		background: #e6b52e;
		width: 130px;
		height: 60px;
		line-height: 1;
		border: 1px solid #e6b52e;
		transition: all .15s ease-out;
		&:hover {
			background: #e6b52e;
		}
	}
}

/*
* Footer
*/
.app-wrap .footer {
	width: 100%;
	background-color:#1a1a1a;
	background-image:-webkit-linear-gradient(top,#191919,#1c1c1c);
	background-image:linear-gradient(top,#191919,#1c1c1c);
	background-repeat: repeat-x;
}

.footer .container {
	width: 1200px;
	padding: 70px 0 105px;
	margin: 0 auto;
}

.footer {
	text-align: center;
	.footer-title {
		color: #575757;
		font-size: $fontSize16;
		line-height: 1;
		margin-bottom: $fontSize16;
	}
	.footer-info {
		line-height: 1;
		margin-bottom: 14px;
		li {
			display: inline-block;
			font-size: 15px;
			color: #575757;
			margin-right: 27px;
			a {
				color: #575757;
			}
			a:hover {
				color: #575757;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.copyright {
		clear: both;
		font-size: 12px;
		.company {
			margin-bottom: 8px;
		}
		.company,
		.record {
			color: #393939;
		}
		.record {
			a {
				color: #393939;
				&:last-child {
					margin-right: 0;
				}
				margin-right: 20px;
			}
		}
	}
}